<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://goaltracker-7b9f8-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>API_KEY</key>
	<string>AIzaSyDHK2kvBkNV5S3uFD58jbiqv8HCkjFFxSA</string>
	<key>GCM_SENDER_ID</key>
	<string>818314882788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.GoalTracker-iOS</string>
	<key>PROJECT_ID</key>
	<string>goaltracker-7b9f8</string>
	<key>STORAGE_BUCKET</key>
	<string>goaltracker-7b9f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818314882788:ios:c339f5b07aba43121906f1</string>
</dict>
</plist>
